body {
    margin: 0;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/a3/c7/c4/a3c7c435f0d3bc91755ee5cfc081072e.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}
.padre {
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "header header"
    "nav    nav"
    "cont1  cont2"
    "cont1  cont3"
    "cont4  cont4"
    "foot   foot";
    place-items: center !important;
    grid-gap: 15px;
}


.padre .header
{
    grid-area: header;
    color: white;
}

.padre .nav
{
    grid-area: nav;
}

.padre .cont1
{
    grid-area: cont1;
}

.padre .cont2
{
    grid-area: cont2;
}

.padre .cont3
{
    grid-area: cont3;
}
.padre .cont4{
    grid-area: cont4;
}

.padre .foot
{
    grid-area: foot;
}